.navbar{
  box-shadow: none;
  background: #f0f0f0;
  li{
    a{
      font-weight: bold;
    }
    &.active{
      a{
        background-color: inherit !important;
        border-bottom: solid #77bd43 2px;
      }
    }
  }
}

/**
 * SPDX-License-Identifier: (EUPL-1.2)
 * Copyright © 2019 Werbeagentur Christian Aichner
 */
