#landing {
  background: #3e3e3e;
  color: white;
  background-image: url('../../../assets/bg/circuit_dots.svg');

  .typist{
    color: #00c851;
    font-weight: 400;
    .Cursor{
      color: white;
    }
  }
}

/**
 * SPDX-License-Identifier: (EUPL-1.2)
 * Copyright © 2019 Werbeagentur Christian Aichner
 */
