.flyout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

body {
  background: #262626 !important;
}

// Buttons
.btn {
  box-shadow: none !important;

  &:hover {
    box-shadow: none !important;
  }

  &:active {
    box-shadow: none !important;
  }

  &:focus {
    box-shadow: none !important;
  }

  &:visited {
    box-shadow: none !important;
  }
}

.btn-grey {
  background: #e6e6e6 !important;
  color: #262626;

  &:hover {
    background: darken(#e6e6e6, 7%) !important;
    color: #262626;
  }

  &:active {
    background: darken(#e6e6e6, 10%) !important;
    color: #262626;
  }

  &:focus {
    background: darken(#e6e6e6, 10%) !important;
    color: #262626;
  }
}

// Custom mouse
.cursor-pointer {
  cursor: pointer;
}

.cursor-help {
  cursor: help;
}

// Custom colors
.snek-dark {
  background-color: $snekDark !important;
  &.darken-1 {
    background-color: darken($snekDark, 5%) !important;
  }
  &.darken-2 {
    background-color: darken($snekDark, 10%) !important;
  }
  &.darken-3 {
    background-color: darken($snekDark, 15%) !important;
  }
  &.lighten-1 {
    background-color: lighten($snekDark, 10%) !important;
  }
  &.lighten-2 {
    background-color: lighten($snekDark, 20%) !important;
  }
  &.lighten-3 {
    background-color: lighten($snekDark, 30%) !important;
  }
}
.snek-blue {
  background-color: $snekBlue !important;
  &.darken-1 {
    background-color: darken($snekBlue, 10%) !important;
  }
  &.darken-2 {
    background-color: darken($snekBlue, 20%) !important;
  }
  &.darken-3 {
    background-color: darken($snekBlue, 30%) !important;
  }
  &.lighten-1 {
    background-color: lighten($snekBlue, 10%) !important;
  }
  &.lighten-2 {
    background-color: lighten($snekBlue, 20%) !important;
  }
  &.lighten-3 {
    background-color: lighten($snekBlue, 30%) !important;
  }
}

.blue-text {
  color: $snekBlue !important;
}

/**
 * SPDX-License-Identifier: (EUPL-1.2)
 * Copyright © 2019 Werbeagentur Christian Aichner
 */
