#tabcontainer {
  .nav-item {
    i {
      width: 25px;
    }
  }
  .btn,
  .nav-link {
    box-shadow: none;
  }
}
.tab-content {
  background: white;
}

/** 
 * SPDX-License-Identifier: (EUPL-1.2)
 * Copyright © 2019 Werbeagentur Christian Aichner
 */
