#socialdata {
  .platform-list{
    border-top: 1px solid rgba(0,0,0,.1);
    border-bottom: 1px solid rgba(0,0,0,.1);
    i{
      font-size: 1.8em;
      margin-left: .5em;
    }
    .fa-gitlab{
      color: orangered;
    }
    .fa-github{
      color: #3e3e3e;
    }
    .fa-bitbucket{
      color: dodgerblue;
    }
  }
  .organisation-list{
    img{
      height: 38px;
      width: auto;
      margin-left: .2rem;
    }
    border-bottom: 1px solid rgba(0,0,0,.1);
  }
}

/** 
 * SPDX-License-Identifier: (EUPL-1.2)
 * Copyright © 2019 Werbeagentur Christian Aichner
 */
