.pinned{
  margin-bottom: 2rem;
  .card-body{
    padding: .5rem;
    border: 1px lighten(grey, 40%) solid;
    .badge{
      padding: .5rem;
    }
  }
  .col-md-4{
    margin-bottom: 1rem;
  }
}

/** 
 * SPDX-License-Identifier: (EUPL-1.2)
 * Copyright © 2019 Werbeagentur Christian Aichner
 */
